.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #217DA5;
    height: 76px;
    width: 100%;
}

.header img{
    width: 166.5px;
    height: 40.602px;
}