*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body{
  background-color: #064975;
}

/*container*/
.container{
  width: 100%;
  max-width: 1500px;
  margin: auto;
}